/build/scheme.build*
/scheme.1
/a.out
/a.out.dSYM/
/build/Debug/scheme
/src/a.out
/src/a.out.dSYM/
/src/atom
/src/*.o

/src/.atom_history
atom/atom.xcodeproj/project.xcworkspace/xcuserdata/marcomorain.xcuserdatad/UserInterfaceState.xcuserstate
atom/atom.xcodeproj/xcuserdata/marcomorain.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
atom/atom.xcodeproj/xcuserdata/marcomorain.xcuserdatad/xcschemes/atom.xcscheme
atom/build/